<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>403007189662-p2di5ej2k8brle92sc5b62bvgkcr0fim.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.403007189662-p2di5ej2k8brle92sc5b62bvgkcr0fim</string>
	<key>API_KEY</key>
	<string>AIzaSyCIDKbla1ds-fPhMH0F-pmQ0A6PCVIWUEc</string>
	<key>GCM_SENDER_ID</key>
	<string>403007189662</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.go-heja.teammatzman</string>
	<key>PROJECT_ID</key>
	<string>teammatzman-4656b</string>
	<key>STORAGE_BUCKET</key>
	<string>teammatzman-4656b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:403007189662:ios:8e46b8b44bd92d42</string>
	<key>DATABASE_URL</key>
	<string>https://teammatzman-4656b.firebaseio.com</string>
</dict>
</plist>